# Pré-processamento: Dashboard Animes

Este Jupyter Notebook tem como objetivo realizar o pré-processamento dos dados necessários para a construção de um Dashboard no Power BI. Os dados utilizados foram obtidos no Kaggle e podem ser acessados [aqui](https://www.kaggle.com/datasets/marlesson/myanimelist-dataset-animes-profiles-reviews?select=reviews.csv).

O conjunto de dados abrange informações abrangentes sobre Animes (mais de 16.000 registros), Avaliações (superando 130.000) e Perfis (com mais de 47.000 entradas), todos coletados do renomado site "My Anime List" em 05/01/20.

Ao longo deste notebook, exploraremos e prepararemos esses dados, garantindo que estejam prontos para serem visualizados e analisados de maneira eficaz no Power BI. Este passo crucial de pré-processamento visa otimizar a experiência de construção do Dashboard, assegurando a precisão e relevância das informações apresentadas.

Vamos mergulhar no processo de pré-processamento para criar uma base sólida para a construção de um Dashboard envolvente no Power BI.

## Importando Bibliotecas

In [1]:
# Libs
import pandas as pd
import numpy as np

# Modulos do Plotly
import plotly.express as px

# Avisos
import warnings
warnings.filterwarnings('ignore')

# Configurar o pandas para mostrar o conteúdo completo das células

## Base de Dados

**animes.csv**: Contém uma lista de animes, com título, sinônimos de título, gênero, duração, classificação, popularidade, pontuação, data de exibição, episódios e muitos outros dados importantes sobre cada anime, fornecendo informações suficientes sobre as tendências ao longo do tempo em aspectos importantes dos animes.

**profiles.cvs**: Contém informações sobre usuários que assistem anime, nomeadamente nome de usuário, data de nascimento, género e lista de animes favoritos.

**reviews.csv**:  Contém informações sobre avaliações de usuários para animes, com resenhas em texto e pontuações.

In [2]:
# Lendo a base de dados
df_animes = pd.read_csv("./data/animes.csv")
df_profiles = pd.read_csv("./data/profiles.csv")
df_reviews = pd.read_csv("./data/reviews.csv")

In [3]:
df_animes.head()

,uid,title,synopsis,genre,aired,episodes,members,popularity,ranked,score,img_url,link
0,28891,Haikyuu!! Second Season,Following their participation at the Inter-Hig...,"['Comedy', 'Sports', 'Drama', 'School', 'Shoun...","Oct 4, 2015 to Mar 27, 2016",25.0,489888,141,25.0,8.82,https://cdn.myanimelist.net/images/anime/9/766...,https://myanimelist.net/anime/28891/Haikyuu_Se...
1,23273,Shigatsu wa Kimi no Uso,Music accompanies the path of the human metron...,"['Drama', 'Music', 'Romance', 'School', 'Shoun...","Oct 10, 2014 to Mar 20, 2015",22.0,995473,28,24.0,8.83,https://cdn.myanimelist.net/images/anime/3/671...,https://myanimelist.net/anime/23273/Shigatsu_w...
2,34599,Made in Abyss,The Abyss—a gaping chasm stretching down into ...,"['Sci-Fi', 'Adventure', 'Mystery', 'Drama', 'F...","Jul 7, 2017 to Sep 29, 2017",13.0,581663,98,23.0,8.83,https://cdn.myanimelist.net/images/anime/6/867...,https://myanimelist.net/anime/34599/Made_in_Abyss
3,5114,Fullmetal Alchemist: Brotherhood,"""In order for something to be obtained, someth...","['Action', 'Military', 'Adventure', 'Comedy', ...","Apr 5, 2009 to Jul 4, 2010",64.0,1615084,4,1.0,9.23,https://cdn.myanimelist.net/images/anime/1223/...,https://myanimelist.net/anime/5114/Fullmetal_A...
4,31758,Kizumonogatari III: Reiketsu-hen,After helping revive the legendary vampire Kis...,"['Action', 'Mystery', 'Supernatural', 'Vampire']","Jan 6, 2017",1.0,214621,502,22.0,8.83,https://cdn.myanimelist.net/images/anime/3/815...,https://myanimelist.net/anime/31758/Kizumonoga...

In [4]:
df_profiles.head()

,profile,gender,birthday,favorites_anime,link
0,DesolatePsyche,Male,"Oct 2, 1994","['33352', '25013', '5530', '33674', '1482', '2...",https://myanimelist.net/profile/DesolatePsyche
1,baekbeans,Female,"Nov 10, 2000","['11061', '31964', '853', '20583', '918', '925...",https://myanimelist.net/profile/baekbeans
2,skrn,NaN,NaN,"['918', '2904', '11741', '17074', '23273', '32...",https://myanimelist.net/profile/skrn
3,edgewalker00,Male,Sep 5,"['5680', '849', '2904', '3588', '37349']",https://myanimelist.net/profile/edgewalker00
4,aManOfCulture99,Male,"Oct 30, 1999","['4181', '7791', '9617', '5680', '2167', '4382...",https://myanimelist.net/profile/aManOfCulture99

In [5]:
df_reviews.head()

,uid,profile,anime_uid,text,score,scores,link
0,255938,DesolatePsyche,34096,\n \n \n \n ...,8,"{'Overall': '8', 'Story': '8', 'Animation': '8...",https://myanimelist.net/reviews.php?id=255938
1,259117,baekbeans,34599,\n \n \n \n ...,10,"{'Overall': '10', 'Story': '10', 'Animation': ...",https://myanimelist.net/reviews.php?id=259117
2,253664,skrn,28891,\n \n \n \n ...,7,"{'Overall': '7', 'Story': '7', 'Animation': '9...",https://myanimelist.net/reviews.php?id=253664
3,8254,edgewalker00,2904,\n \n \n \n ...,9,"{'Overall': '9', 'Story': '9', 'Animation': '9...",https://myanimelist.net/reviews.php?id=8254
4,291149,aManOfCulture99,4181,\n \n \n \n ...,10,"{'Overall': '10', 'Story': '10', 'Animation': ...",https://myanimelist.net/reviews.php?id=291149

## Pré-processamento

Vomo tratar alguns dados para facilitar a análise e o processamento dos dados no PowerBI

### df_animes

Primeiramente vamos separar a coluna "aired" em duas. O período está no formato 'Oct 4, 2015 to Mar 27, 2016', vamos transformar em duas colunas, de início e fim, comformato de data padrão.

In [6]:
# Criando duas novas colunas no DataFrame para armazenar as datas de início e fim
df_animes['data_inicio'] = pd.to_datetime(df_animes['aired'].str.extract(r'(\w+ \d+, \d+)', expand=False), errors='coerce')
df_animes['data_fim'] = pd.to_datetime(df_animes['aired'].str.extract(r'to (\w+ \d+, \d+)', expand=False), errors='coerce')

df_animes.head()

,uid,title,synopsis,genre,aired,episodes,members,popularity,ranked,score,img_url,link,data_inicio,data_fim
0,28891,Haikyuu!! Second Season,Following their participation at the Inter-Hig...,"['Comedy', 'Sports', 'Drama', 'School', 'Shoun...","Oct 4, 2015 to Mar 27, 2016",25.0,489888,141,25.0,8.82,https://cdn.myanimelist.net/images/anime/9/766...,https://myanimelist.net/anime/28891/Haikyuu_Se...,2015-10-04,2016-03-27
1,23273,Shigatsu wa Kimi no Uso,Music accompanies the path of the human metron...,"['Drama', 'Music', 'Romance', 'School', 'Shoun...","Oct 10, 2014 to Mar 20, 2015",22.0,995473,28,24.0,8.83,https://cdn.myanimelist.net/images/anime/3/671...,https://myanimelist.net/anime/23273/Shigatsu_w...,2014-10-10,2015-03-20
2,34599,Made in Abyss,The Abyss—a gaping chasm stretching down into ...,"['Sci-Fi', 'Adventure', 'Mystery', 'Drama', 'F...","Jul 7, 2017 to Sep 29, 2017",13.0,581663,98,23.0,8.83,https://cdn.myanimelist.net/images/anime/6/867...,https://myanimelist.net/anime/34599/Made_in_Abyss,2017-07-07,2017-09-29
3,5114,Fullmetal Alchemist: Brotherhood,"""In order for something to be obtained, someth...","['Action', 'Military', 'Adventure', 'Comedy', ...","Apr 5, 2009 to Jul 4, 2010",64.0,1615084,4,1.0,9.23,https://cdn.myanimelist.net/images/anime/1223/...,https://myanimelist.net/anime/5114/Fullmetal_A...,2009-04-05,2010-07-04
4,31758,Kizumonogatari III: Reiketsu-hen,After helping revive the legendary vampire Kis...,"['Action', 'Mystery', 'Supernatural', 'Vampire']","Jan 6, 2017",1.0,214621,502,22.0,8.83,https://cdn.myanimelist.net/images/anime/3/815...,https://myanimelist.net/anime/31758/Kizumonoga...,2017-01-06,NaT

Agora vamos deletar a coluna antiga "aired". Vamos deletar também a coluna "link", que não iremos utilizar

In [7]:
# Excluindo as colunas 'aired' e 'link'
df_animes.drop(['aired', 'link'], axis=1, inplace=True)

Os generos dos animes eles estão aglomerados em lista em cada linha, vamos selecionar todos os generos, e criar uma coluna para cada um

In [8]:
# Selecionando os generos para verificar cada um na coluna 'genre'
nomes_para_verificar = ['Action',
    'Adventure',
    'Cars',
    'Comedy',
    'Dementia',
    'Demons',
    'Drama',
    'Ecchi',
    'Fantasy',
    'Game',
    'Harem',
    'Hentai',
    'Historical',
    'Horror',
    'Josei',
    'Kids',
    'Magic',
    'Martial Arts',
    'Mecha',
    'Military',
    'Music',
    'Mystery',
    'Parody',
    'Police',
    'Psychological',
    'Romance',
    'Samurai',
    'School',
    'Sci-Fi',
    'Seinen',
    'Shoujo',
    'Shoujo Ai',
    'Shounen',
    'Shounen Ai',
    'Slice of Life',
    'Space',
    'Sports',
    'Super Power',
    'Supernatural',
    'Thriller',
    'Vampire',
    'Yaoi',
    'Yuri']

# Crian colunas para cada nome na lista e preenche com 1 se presente, 0 se ausente
for nome in nomes_para_verificar:
    df_animes[nome] = df_animes['genre'].str.contains(nome).astype(int)

df_animes.head()

,uid,title,synopsis,genre,episodes,members,popularity,ranked,score,img_url,...,Shounen Ai,Slice of Life,Space,Sports,Super Power,Supernatural,Thriller,Vampire,Yaoi,Yuri
0,28891,Haikyuu!! Second Season,Following their participation at the Inter-Hig...,"['Comedy', 'Sports', 'Drama', 'School', 'Shoun...",25.0,489888,141,25.0,8.82,https://cdn.myanimelist.net/images/anime/9/766...,...,0,0,0,1,0,0,0,0,0,0
1,23273,Shigatsu wa Kimi no Uso,Music accompanies the path of the human metron...,"['Drama', 'Music', 'Romance', 'School', 'Shoun...",22.0,995473,28,24.0,8.83,https://cdn.myanimelist.net/images/anime/3/671...,...,0,0,0,0,0,0,0,0,0,0
2,34599,Made in Abyss,The Abyss—a gaping chasm stretching down into ...,"['Sci-Fi', 'Adventure', 'Mystery', 'Drama', 'F...",13.0,581663,98,23.0,8.83,https://cdn.myanimelist.net/images/anime/6/867...,...,0,0,0,0,0,0,0,0,0,0
3,5114,Fullmetal Alchemist: Brotherhood,"""In order for something to be obtained, someth...","['Action', 'Military', 'Adventure', 'Comedy', ...",64.0,1615084,4,1.0,9.23,https://cdn.myanimelist.net/images/anime/1223/...,...,0,0,0,0,0,0,0,0,0,0
4,31758,Kizumonogatari III: Reiketsu-hen,After helping revive the legendary vampire Kis...,"['Action', 'Mystery', 'Supernatural', 'Vampire']",1.0,214621,502,22.0,8.83,https://cdn.myanimelist.net/images/anime/3/815...,...,0,0,0,0,0,1,0,1,0,0

In [9]:
# Excluindo a coluna antiga 'genre'
df_animes.drop(['genre'], axis=1, inplace=True)

Renomeando algumas colunas para facilitar o entendimetno

In [10]:
novos_nomes2 = {
    'uid':'anime_id',
    'title':'anime_título',
    'synopsis':'anime_sinopse',
    'episodes':'anime_n_episodios',
    'popularity':'anime_rank_popularidade',
    'ranked':'anime_ranked_geral',
    'score':'anime_score_geral',
    'img_url':'anime_imagem',
    
}

df_animes.rename(columns=novos_nomes2, inplace=True)
df_animes.head()

,anime_id,anime_título,anime_sinopse,anime_n_episodios,members,anime_rank_popularidade,anime_ranked_geral,anime_score_geral,anime_imagem,data_inicio,...,Shounen Ai,Slice of Life,Space,Sports,Super Power,Supernatural,Thriller,Vampire,Yaoi,Yuri
0,28891,Haikyuu!! Second Season,Following their participation at the Inter-Hig...,25.0,489888,141,25.0,8.82,https://cdn.myanimelist.net/images/anime/9/766...,2015-10-04,...,0,0,0,1,0,0,0,0,0,0
1,23273,Shigatsu wa Kimi no Uso,Music accompanies the path of the human metron...,22.0,995473,28,24.0,8.83,https://cdn.myanimelist.net/images/anime/3/671...,2014-10-10,...,0,0,0,0,0,0,0,0,0,0
2,34599,Made in Abyss,The Abyss—a gaping chasm stretching down into ...,13.0,581663,98,23.0,8.83,https://cdn.myanimelist.net/images/anime/6/867...,2017-07-07,...,0,0,0,0,0,0,0,0,0,0
3,5114,Fullmetal Alchemist: Brotherhood,"""In order for something to be obtained, someth...",64.0,1615084,4,1.0,9.23,https://cdn.myanimelist.net/images/anime/1223/...,2009-04-05,...,0,0,0,0,0,0,0,0,0,0
4,31758,Kizumonogatari III: Reiketsu-hen,After helping revive the legendary vampire Kis...,1.0,214621,502,22.0,8.83,https://cdn.myanimelist.net/images/anime/3/815...,2017-01-06,...,0,0,0,0,0,1,0,1,0,0

### df_profiles

In [12]:
df_profiles.head()

,profile,gender,birthday,favorites_anime,link
0,DesolatePsyche,Male,"Oct 2, 1994","['33352', '25013', '5530', '33674', '1482', '2...",https://myanimelist.net/profile/DesolatePsyche
1,baekbeans,Female,"Nov 10, 2000","['11061', '31964', '853', '20583', '918', '925...",https://myanimelist.net/profile/baekbeans
2,skrn,NaN,NaN,"['918', '2904', '11741', '17074', '23273', '32...",https://myanimelist.net/profile/skrn
3,edgewalker00,Male,Sep 5,"['5680', '849', '2904', '3588', '37349']",https://myanimelist.net/profile/edgewalker00
4,aManOfCulture99,Male,"Oct 30, 1999","['4181', '7791', '9617', '5680', '2167', '4382...",https://myanimelist.net/profile/aManOfCulture99

A coluna de aniversário 'birthday' ésta no formato 'Oct 2, 1994' por exemplo, vamos formatar usando datetime, e substituir alguns valores nulos pela média das idades

In [13]:
# Formatando
df_profiles['birthday'] = pd.to_datetime(df_profiles['birthday'], errors='coerce')

# Calculando a média das datas não nulas
media_datas = df_profiles['birthday'].mean()

# Substituindo datas nulas pela média das outras datas
df_profiles['birthday'].fillna(media_datas, inplace=True)

# Formatando a coluna para o formato desejado
df_profiles['formatted_birthday'] = df_profiles['birthday'].dt.strftime('%d/%m/%Y')

Vamos remover algumas colunas. A antiga de 'birthday', ja que criamos uma nova, e as colunas 'favorites_anime', 'link' que não usaremos

In [14]:
# Removendo as colunas
df_profiles.drop(['birthday', 'favorites_anime', 'link' ], axis=1, inplace=True)

In [16]:
# Verificando com ficou
df_profiles.head()

           profile  gender formatted_birthday
0   DesolatePsyche    Male         02/10/1994
1        baekbeans  Female         10/11/2000
2             skrn     NaN         06/03/1994
3     edgewalker00    Male         06/03/1994
4  aManOfCulture99    Male         30/10/1999

### df_reviews

In [17]:
df_reviews.head()

,uid,profile,anime_uid,text,score_REVIEWS,scores,link
0,255938,DesolatePsyche,34096,\n \n \n \n ...,8,"{'Overall': '8', 'Story': '8', 'Animation': '8...",https://myanimelist.net/reviews.php?id=255938
1,259117,baekbeans,34599,\n \n \n \n ...,10,"{'Overall': '10', 'Story': '10', 'Animation': ...",https://myanimelist.net/reviews.php?id=259117
2,253664,skrn,28891,\n \n \n \n ...,7,"{'Overall': '7', 'Story': '7', 'Animation': '9...",https://myanimelist.net/reviews.php?id=253664
3,8254,edgewalker00,2904,\n \n \n \n ...,9,"{'Overall': '9', 'Story': '9', 'Animation': '9...",https://myanimelist.net/reviews.php?id=8254
4,291149,aManOfCulture99,4181,\n \n \n \n ...,10,"{'Overall': '10', 'Story': '10', 'Animation': ...",https://myanimelist.net/reviews.php?id=291149

In [18]:
# Renomeando para melhor entendimento
df_reviews.rename(columns={'score': 'score_REVIEWS'}, inplace=True)

In [19]:
# Dropando as colunas 'text', 'link' que não iremos usar
df_reviews.drop(['text', 'link',], axis=1, inplace=True)

As avaliações por categoria estão em um dicionário dentro das linhas, para conseguir trabalhar melhor, vamos separar cada categoria por coluna, gerando novas variáveis

In [20]:
import ast

df_reviews = pd.concat([df_reviews.drop('scores', axis=1), pd.DataFrame(df_reviews['scores'].apply(ast.literal_eval).tolist())], axis=1)

df_reviews.head()

,uid,profile,anime_uid,score_REVIEWS,Overall,Story,Animation,Sound,Character,Enjoyment
0,255938,DesolatePsyche,34096,8,8,8,8,10,9,8
1,259117,baekbeans,34599,10,10,10,10,10,10,10
2,253664,skrn,28891,7,7,7,9,8,8,8
3,8254,edgewalker00,2904,9,9,9,9,10,10,9
4,291149,aManOfCulture99,4181,10,10,10,8,9,10,10

### Pronto. Todos os Dataframes estão do jeito que gostaríamos para otimizar o trabalho no Power BI. Agora iremos exportar em csv

In [24]:
# df_reviews
caminho_reviews = "./data_processado/df_reviews.csv"
df_reviews.to_csv(caminho_reviews, index=False)

# df_profiles
caminho_profiles = "./data_processado/df_profiles.csv"
df_profiles.to_csv(caminho_profiles, index=False)

# df_animes
caminho_animes = "./data_processado/df_animes.csv"
df_animes.to_csv(caminho_animes, index=False)